<div class="bottom-banner">
  <div class="bottom-banner__first-paragraph">
    <hr/>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam maximus
      tristique nisi ut mattis. Vivamus vehicula, tortor id ultricies consequat,
      nisl ante volutpat felis, vitae imperdiet augue justo nec libero.
    </p>
  </div>
  <div class="bottom-banner__second-paragraph">
    <img src="./assets/img-landing.png" />
    <section class="bottom-banner__cta">
      <h2>Augmented reality</h2>
      <hr/>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam maximus
        tristique nisi ut mattis. Vivamus vehicula, tortor id ultricies
        consequat, nisl ante volutpat felis, vitae imperdiet augue justo nec
        libero.
      </p>
      <button class="btn btn-success">Learn more</button>
    </section>
  </div>
</div>
