<div class="socials">
  <section class="socials__logo">
    <a [routerLink]="['/']"><img src="./assets/logo.png" /></a>
  </section>
  <section class="socials__text">
    <p>
      Me old mucker Harry don't get shirty with me he nicked it up the kyver
      gutted mate spend a penny, bloke my good sir in my flat bleeding quaint.!
    </p>
  </section>
  <section class="socials__icons">
    <a [routerLink]="['/']"><img src="./assets/facebook.svg" /></a>
    <a [routerLink]="['/']"><img src="./assets/twitter.svg" /></a>
    <a [routerLink]="['/']"><img src="./assets/basketball.svg" /></a>
    <a [routerLink]="['/']"><img src="./assets/linkedin.svg" /></a>
  </section>
</div>
